APP_BIND_ADDRESS=
APP_PORT=8080

DB_NAME=iot_sensor_monitor
DB_USER=ism
DB_PASSWORD=

SMTP_HOST=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=

EMAIL_VERIFICATION_HMAC_SECRET_BASE64=
PASSWORD_RECOVERY_HMAC_SECRET_BASE64=